@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: "Poppins", sans-serif;
}


.base-medium {
    @apply text-base;
}

h1 {
    @apply text-3xl text-black font-bold;
}

h2 {
    @apply text-2xl text-black font-semibold;
}

h3 {
    @apply text-lg text-black font-normal;
}

p {
    @apply text-base text-black
}

.menu li {
    @apply hover:text-red-500;
}

.menu li a:focus,
.menu li a:active {
    outline: none;
    color: red; 
    background-color: transparent;
}